/* Leaflet specific overrides */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 10;
}

body {
  background-color: #F9FAFB;
}

/* Custom scrollbar utility used in PropertiesPage */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
